[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
[submodule "include/libsimdpp"]
	path = include/libsimdpp
	url = https://github.com/p12tic/libsimdpp
[submodule "FlameGraph"]
	path = FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "include/benchmark"]
	path = include/benchmark
	url = https://github.com/google/benchmark.git
[submodule "fpl_report"]
	path = report
	url = git@github.com:AOIDUO/fpl_report.git
[submodule "avx512-poster"]
	path = poster
	url = git@github.com:AOIDUO/avx512-poster.git
